@{
    ViewData["Title"] = "Sobre";
}
<head>
    <link href="~/css/about.css" rel="stylesheet" />
</head>

<section>
    <div class="container">
        <div class="sobre flex">
            <h1>Sobre</h1>
            <div class="img-wrapper"></div><!--img-wrapper-->
            <div class="text-wrapper">
                <h2>Agencia Quadreli</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum id nisi nec consectetur. Maecenas accumsan, ex sit amet euismod aliquam, sapien urna pretium lacus, eu scelerisque nunc nibh et enim. Proin non quam ultricies lectus mattis egestas. Nullam mi ex, ullamcorper consectetur felis ac, placerat mollis purus. Duis vestibulum consectetur urna quis eleifend. Vivamus ac libero et est molestie pellentesque id quis lectus. Morbi facilisis tincidunt diam in tincidunt.</p>
                <h4>Porque fazer esses serviços conosco?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum id nisi nec consectetur. Maecenas accumsan, ex sit amet euismod aliquam, sapien urna pretium lacus, eu scelerisque nunc nibh et enim. Proin non quam ultricies lectus mattis egestas. Nullam mi ex, ullamcorper consectetur felis ac, placerat mollis purus. Duis vestibulum consectetur urna quis eleifend. Vivamus ac libero et est molestie pellentesque id quis lectus. Morbi facilisis tincidunt diam in tincidunt.</p>
                <div class="icons-wrapper"></div>
            </div>
        </div><!--sobre-wrapper-->
    </div><!--container-->
</section>

