
@{
    ViewData["Title"] = "Portifólio";
}

<head>
    <link href="~/css/portfolio.css" rel="stylesheet" />
</head>

<section>
    <div class="container">
        <h1>Portfólio</h1>
            <nav class="select-bar">
                <a class="selected" href="#">Todos</a>
                <a href="#">Redes Sociais</a>
                <a href="#">Design Gráfico</a>
            </nav><!--select-bar-->
        <div class="selection-wrapper">
            <div class="selected-image">
                <img src="~/img/portifolio/8 marco.png" alt="Alternate Text" />
            </div>
            <div class="selected-image">
                <img src="~/img/portifolio/8 marco.png" alt="Alternate Text" />
            </div>
            <div class="selected-image">
                <img src="~/img/portifolio/8 marco.png" alt="Alternate Text" />
            </div>
            <div class="selected-image">
                <img src="~/img/portifolio/8 marco.png" alt="Alternate Text" />
            </div>
            <div class="selected-image">
                <img src="~/img/portifolio/8 marco.png" alt="Alternate Text" />
            </div>
            <div class="selected-image">
                <img src="~/img/portifolio/8 marco.png" alt="Alternate Text" />
            </div>
        </div><!--selections-wrapper-->
    </div><!--container-->
</section>
