<h4>Ínicio</h4>
<div class="line"></div>

<div class="envolto-panel">
    <div class="wrapper access-report">
        <p>Total de acessos:</p>
    </div><!--access-report-->

    <div class="wrapper clicks-quote">
        <p>Cliques em "Fazer orcamento"</p>
    </div><!--clicks-quote-->
</div>