@{
    ViewData["Title"] = "Painel de Controle";
    ViewData["SemMenuFooter"] = true;
}

@section Styles{
    <link href="~/css/panel.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/panel.js" asp-append-version="true"></script>
}

<section class="Panel">
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a class="ajax-link" href="/Panel/Dashboard">Inicio</a></li>
                 
                <li>
                    <span id="conteudos">Conteudos <i class="seta fa-solid fa-chevron-down"></i></span>
                    <ul class="conteudos">
                        <li><a class="ajax-link" href="/Panel/Textos">Textos</a></li>
                        <li><a class="ajax-link" href="/Panel/Imagens">Imagens</a></li>
                        <li><a class="ajax-link" href="/Panel/Servicos">Servicos</a></li>
                        <li><a class="ajax-link" href="/Panel/Depoimentos">Depoimentos</a></li>
                        <li><a class="ajax-link" href="/Panel/Portifolio">Portifolio</a></li>
                    </ul>
                </li>

                <li>
                    <span id="configuracoes">Configuracoes <i class="seta fa-solid fa-chevron-down"></i></span>
                    <ul class="configuracoes">
                        <li><a class="ajax-link" href="/Panel/Contato">Contato</a></li>
                        <li><a class="ajax-link" href="/Panel/Seo">SEO</a></li>
                        <li><a class="ajax-link" href="/Panel/Geral">Geral</a></li>
                    </ul>
                </li>

                <li><a class="ajax-link" href="/Panel/Usuarios">Usuarios</a></li>
            </ul>
        </nav><!--menu-->
        <div class="conteudo-panel">
            <h4>@ViewBag.TituloDaPagina</h4>
            <div class="line"></div>

            <div class="main-wrapper" id="conteudo-dinamico">
                
            </div><!--main-wrapper-->
        </div><!--conteudo-panel-->
    </div><!--container-->
</section>


