@{
    ViewData["Title"] = "Painel de Controle";
    ViewData["SemMenuFooter"] = true;
}

@section Styles{
    <link href="~/css/panel.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/panel.js" asp-append-version="true"></script>
}

<section class="Panel">
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a class="ajax-link" href="#">Inicio</a></li>

                <li>
                    <span>Conteudos</span>
                    <ul class="conteudos">
                        <li><a class="ajax-link" href="/Panel/textos">Textos</a></li>
                        <li><a class="ajax-link" href="/Panel/imagens">Imagens</a></li>
                        <li><a class="ajax-link" href="/Panel/servicos">Servicos</a></li>
                        <li><a class="ajax-link" href="/Panel/depoimentos">Depoimentos</a></li>
                        <li><a class="ajax-link" href="/Panel/portifolio">Portifolio</a></li>
                    </ul>
                </li>

                <li>
                    <span>Configuracoes</span>
                    <ul class="configuracoes">
                        <li><a class="ajax-link" href="#contato">Contato</a></li>
                        <li><a class="ajax-link" href="#seo">SEO</a></li>
                        <li><a class="ajax-link" href="#geral">Geral</a></li>
                    </ul>
                </li>

                <li><a class="ajax-link" href="#usuarios">Usuarios</a></li>
            </ul>
        </nav><!--menu-->
        <div class="conteudo-panel">
            <div class="main-wrapper">
                <h4>Inicio</h4>
                <div class="line"></div>

                <div class="content">
                    
                </div>
            </div><!--main-wrapper-->
        </div><!--conteudo-panel-->
    </div><!--container-->
</section>


