@{
    ViewData["Title"] = "Contato";
}

<head>
    <link href="~/css/contact.css" rel="stylesheet" />
</head>

<section class="form-sec">
    <div class="container flex">
        <div class="form-wrapper flex">
            <h1>Orçamento por email</h1>
            <form action="/" method="post">
                <div class="form-line flex">
                    <label for="name">Nome:</label>
                    <input type="text" name="name" placeholder="Digite seu Nome..."/>
                </div><!--form-line-->

                <div class="form-line flex">
                    <label for="phone">Celular:</label>
                    <input type="text" name="phone" placeholder="Digite o seu numero de whatsapp..."/>
                </div><!--form-line-->

                <div class="form-line flex">
                    <label for="message">Mensagem:</label>
                    <textarea name="message" placeholder="Digite a sua mensagem..."></textarea>
                </div><!--form-line-->

                <button type="submit">Enviar</button>
            </form>
        </div><!--form-wrapper-->
        <div class="zap-wrapper flex">
            <div class="zap-icon"></div>
            <div class="zap-texto">
                <p>Faça o orçamento por whatsapp</p>
                <a href="https://api.whatsapp.com/send/?phone=5517981336263&text&type=phone_number&app_absent=0">Clique aqui</a>
            </div>
        </div><!--zap-wrapper-->
    </div><!--container-->
</section>

