.container {
    justify-content: center;
    padding-top: 100px;
}

.form-wrapper {
    flex-direction: column;
    background-color: #c2c2c2;
    justify-content: center;
    width: 600px;
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
}

h1 {
    text-align: center;
}

.form-line {
    justify-content: space-between;
    padding: 15px 0px;
    color: black;
}

.form-line label {
    font-size: 18px;
}

input {
    width: 400px;
}

textarea {
    width: 400px;
    height: 200px;
    resize: none;
}

button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 40px;
}

/*Whatsapp*/

.zap-wrapper{
    width: 500px;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 100px;
    padding-top: 30px;
}

.zap-icon{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-image: url(../img/icons/whatsapp-glyph-black-logo-svgrepo-com.svg);
    background-size: contain;
}

.zap-texto{
    text-align: center;
}

.zap-wrapper p{
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}

.zap-wrapper a{
    width: 100px;
    padding: 8px 20px;
    text-align: center;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}

