/*first-sec*/
.first-sec {
    height: 600px;
}

.first-sec .container {
    position: relative;
    height: 100%;
}

.texto-header {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}



.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.imagem-header {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    background-image: url(../img/banners/imagem-header.jpg);
    background-size: cover;
}

/*HOME-about*/

.HOME-about {
    padding: 10px 20px;
    background-color: #c4c4c4;
}

.envolto {
    justify-content: space-between;
    padding: 40px 70px;
    flex-wrap: wrap;
}
.envolto h4{
    font-family: My-AvenirBold;
    width: 100%;
    text-align:center;
    padding-bottom: 35px;
}

.imagem {
    width: 450px;
    height: 450px;
}

.texto {
    width: 550px;
    justify-items: center;
    padding: 10px 0;
}

.texto p {
    font-size: 20px;
    text-align: justify;
}

.img {
    background-image: url(../img/Outros/IMG_1288.jpg);
    background-size: contain;
    width: 100%;
    height: 100%;
}

.link {
    font-family: My-AvenirBold;
    padding: 10px 50px;
    background-color: grey;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.link:hover{
    color: white;
}

/*HOME-sevicos*/

.HOME-servicos {
    padding: 30px 0;
    background-color: #323232;
    color: white;
}

.servicos-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 30px;
}

.texto-servicos{
    padding: 0 40px;
}

.servicos-wrapper p{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.quadro-servico{
    margin: 30px 0px;
    width: 370px;
    height: 230px;
    background-color: white;
}

.icons-wrapper{
    position: absolute;
    gap: 100px;
    top: 1775px;
    left: 50%;
    transform: translateX(-50%);
}

.icon{
    width:90px;
    height:90px;
    background-color: black;
    border-radius: 50%;
}

/*HOME-portifolio*/

.HOME-portfolio {
    padding: 60px 0 15px 0;
    background-color: white;
}

.mosaico {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}

.image {
    padding: 50px;
}

.image img {
    width: 100%;
}

.link-wrapper {
     justify-content: center;
    margin-bottom: 30px;

}

.link-wrapper > a {
    display: inline-block;
    background-color: #b41f29;
    align-items: center;
    height: 50px;
    border-radius: 50px;
    font-size: 20px
}

/*HOME-depoimentos*/

.HOME-depoimentos {
    padding: 30px 0 60px 0;
    background-color: #323232;
}

.HOME-depoimentos .titulo{
    color: white;
}

.depoimentos-wrapper {
    position: relative;
    width: 500px;
    margin: 20px auto;
    text-align: center;
    padding: 16px;
    background: white;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
}

.depoimento-slide {
    display: none;
}

.depoimento-slide .profile-info{
    display: block;
    text-align: left;
    margin-bottom: 12px;
    margin:0;
}

.depoimento-slide p{
    text-align:right;
    display: inline-block;
    width: 400px;
    font-size: 16px;
    margin: 0;
}

.depoimento-slide.active {
    display:block;
    position:relative;
}

.depoimento-slide img {
    background-color: green;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.dots-wrapper {
    margin-top: 10px;
    justify-content: center;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    display: inline-block;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: white;
}
