/*Geral*/
@font-face{
    font-family: 'My-Avenir';
    src: url('../fonts/Avenir Font Family/AvenirLTStd-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: My-Avenir;
}

.container{
    padding: 0 2%;
    max-width: 1360px;
}

.fora {
    padding: 0;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.titulo{
    text-align: center;

}

/*Menu-cima*/

.logo {
    width: 50px;
    height: 50px;
    background-color: white;
}

.menu-cima .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px 2%;
}

.menu-opt{
    padding: 0 12px;
    text-decoration: none;
    color: white;
}

.menu-opt:hover {

}

/*BODY*/

section:first-of-type {
    padding-top: 70px;
}

/*RODAPE*/

.rodape{
    padding:
    flex-wrap: wrap;
    background-color: black;
    justify-content: center;
    align-items: center;

}

.rodape > .logo{
    width:100px;
    height:100px;
}

.rodape p{
    width: 100%;
    color: white;
    margin: 0;
}
