/*Geral*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

}

.container{
    padding: 0 2%;
    max-width: 1360px;
}

.fora {
    padding: 0;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.titulo{
    text-align: center;

}

/*Menu-cima*/

.logo {
    width: 50px;
    height: 50px;
    background-color: white;
}

.menu-cima .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px 2%;
}

.menu-opt{
    padding: 0 12px;
    text-decoration: none;
    color: white;
}

.menu-opt:hover {

}

/*RODAPE*/

.rodape{
    height: 40px;
    background-color: black;
    justify-content: center;
    align-items: center;

}

.rodape p{
    color: white;
   margin: 0;
}

/*first-sec*/

.first-sec{
    height: 600px;
    margin-bottom: 70px;
}

.first-sec .container{
    top: 70px;
    position: relative;
    height: 100%;
}

.texto-header{
    position:absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
    color:white;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.imagem-header {
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    overflow:hidden;
    background-image: url(../img/banners/imagem-header.jpg);
    background-size:cover;
}

/*HOME-about*/

.HOME-about{
    padding: 10px 20px;
    background-color: #c4c4c4;
}
    
.envolto{
    justify-content:space-between;
    padding: 20px 45px;
}

.imagem{
    width: 400px;
    height: 430px;
}

.texto{
    justify-items: center;
}

.titulo-wrapper{
    justify-items:center;
    width: 100%;
    margin-bottom: 10px;
}

.img{
    background-color: green;
    width: 100%;
    height: 100%;
}

.texto p{
    width: 400px;
    text-align: justify;
    padding: 10px 0;
}
.link{
    padding: 10px 50px;
    background-color: grey;
    text-decoration:none;
    color: white;
    border-radius: 10px;
}

/*HOME-sevicos*/

.HOME-servicos{
    padding: 30px 0;
}

.servicos-wrapper{
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.quadro-servico{
    width: calc(50% - 40px);
    padding: 20px;
    justify-items: center;
}

.quadro-servico:nth-child(odd){
    border-right: 2px solid
}

.quadro-servico h4{
    text-align: center;
    padding: 20px 0 10px 0;
}

.icon{
    width: 100px;
    height: 70px;
    margin-bottom: 10px;
}

.icon img{
    width:100%
}

/*HOME-portifolio*/

.HOME-portfolio{
    padding: 15px 0;
    background-color: green;
}

.mosaico {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}

.image{
    padding: 10px;
}

.image img{
    width: 100%;
}

.link-wrapper{
    justify-content: center;
    margin-bottom: 30px;
}

/*HOME-depoimentos*/

.HOME-depoimentos{
    padding: 30px 0 60px 0;
    background-color: dimgray;
}

.depoimentos-wrapper {
    position: relative;
    width: 60%;
    margin: 20px auto;
    text-align: center;
    padding: 40px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.depoimento-slide {
    display: none;
    font-size: 18px;
}

.depoimento-slide.active {
    display: block;
}

.depoimento-slide img{
    background-color: green;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.dots-wrapper{
    margin-top: 10px;
    justify-content: center;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    display: inline-block;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #333;
}

