@{
    ViewData["Title"] = "Início";
}

<!--NENHUMA IMAGEM SERA OFICIAL AINDA-->

<head>
    <link href="~/css/home.css" rel="stylesheet" />
</head>

<section class="first-sec">
    <div class="container">
        <!--procurar imagem para lado direito e depois colocar o texto do lado diteiro-->
        <div class="texto-header">
            <h1>Agência Quadreli</h1>
            <h3>Design estratégico que comunica e conecta</h3>
        </div><!--texto-header-->
        <div class="imagem-header">
            <div class="overlay"></div>
            <img src="~/img/banners/Image01.png" alt="Alternate Text" />
        </div><!--imagem-header-->
    </div><!--container-->
</section><!--first-sec-->

<section class="HOME-about">
    <div class="container">
        <div class="envolto flex">
            <h4>Da Identidade Visual ao Digital, unimos criatividade e estratégia para gerar resultados</h4>
            <div class="texto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non odio fringilla, interdum mauris vitae, consectetur nibh. Phasellus laoreet blandit sem. Aenean convallis quam vitae eleifend venenatis. Phasellus aliquet posuere dui, et mollis sapien tempor vitae. Quisque elementum blandit nisl, congue varius metus sollicitudin nec. Nunc sit amet lacus ut magna fringilla scelerisque. Etiam pretium augue a scelerisque ullamcorper. Nullam pulvinar sit amet turpis id rutrum. Etiam nisl tellus, pellentesque ac commodo mollis, sodales semper libero. Suspendisse eu magna arcu. Integer efficitur lorem a massa feugiat, in elementum turpis vulputate. In hac habitasse platea dictumst.
                </p>

                <div class="link-wrapper flex">
                    <a class="link" asp-controller="Portfolio" asp-action="Index">Faça um orçamento</a>
                </div><!--link-wrapper-->
            </div><!--texto-->

            <div class="imagem">
                <div class="img"></div><!--substituir por img depois-->
            </div><!--imagem-->
                
        </div><!--flex-->
    </div><!--container-->
</section><!--HOME-bem-vindo-->

<section class="HOME-servicos">
    <div class="container">
        <h1 class="titulo">Nossos Serviços</h1>
        <div class="servicos-wrapper flex">
            <div class="texto-servicos">
                <p>Posicione sua marca nos canais onde as pessoas buscam informação diariamente.</p>
                <p>Investir em Marketing Digital ajuda você a promover seus produtos ou serviços em várias plataformas no ambiente digital, incluindo uso de canais como Redes Sociais</p>
                <p>
                    Seu diferencial é a capacidade de mensurar resultados em tempo real. Isso ajuda a economizar e personalizar suas ações
                </p>
            </div>
            
            <div id="qua1" class="quadro-servico"></div><!--quadro-servicos-->
            <div id="qua2" class="quadro-servico"></div><!--quadro-servicos-->
            <div id="qua3" class="quadro-servico"></div><!--quadro-servicos-->
            <div class="icons-wrapper flex">
                <div style="background-image:url(/img/icons/EUAflag.png);" class="icon"></div>
                <div style="background-image:url(/img/icons/BRflag.png);" class="icon"></div>
                <div style="background-image:url(/img/icons/PTflag.png);" class="icon"></div>
            </div><!--icons-wrapper-->
        </div><!--servicos-wrapper-->
        
    </div><!--container-->
</section><!--HOME-servicos-->

<section class="HOME-portfolio">
    <div class="container">
        <h1 class="titulo">Nossos Projetos</h1>
        <div class="mosaico grid">
            <div class="image">
                <div class="overlay overlay-image">
                    <div class="overlay-info flex">
                        <p id="MarcaNome">Marca</p>
                        <p id="MarcaCategoria">Categoria e algo mais</p>
                        <a asp-controller="Portfolio" asp-action="Index">Ver Mais</a>
                    </div><!--overlay-info-->
                </div><!--overlay-image-->
                <img src="~/img/portifolio/TB Campanha maes.png" />
            </div><!--image-->
            <div class="image">
                <div class="overlay overlay-image">
                    <div class="overlay-info flex">
                        <p id="MarcaNome">Marca</p>
                        <p id="MarcaCategoria">Categoria e algo mais</p>
                        <a asp-controller="Portfolio" asp-action="Index">Ver Mais</a>
                    </div><!--overlay-info-->
                </div><!--overlay-image-->
                <img src="~/img/portifolio/BOTAFOGO X NH 1.png" alt="Alternate Text" />
            </div><!--image-->
            <div class="image">
                <div class="overlay overlay-image">
                    <div class="overlay-info flex">
                        <p id="MarcaNome">Marca</p>
                        <p id="MarcaCategoria">Categoria e algo mais</p>
                        <a asp-controller="Portfolio" asp-action="Index">Ver Mais</a>
                    </div><!--overlay-info-->
                </div><!--overlay-image-->
                <img src="~/img/portifolio/dia do cliente2024.png" alt="Alternate Text" />
            </div><!--image-->
            <div class="image">
                <div class="overlay overlay-image">
                    <div class="overlay-info flex">
                        <p id="MarcaNome">Marca</p>
                        <p id="MarcaCategoria">Categoria e algo mais</p>
                        <a asp-controller="Portfolio" asp-action="Index">Ver Mais</a>
                    </div><!--overlay-info-->
                </div><!--overlay-image-->
                <img src="~/img/portifolio/TB Campanha maes.png" />
            </div><!--image-->
            <div class="image">
                <div class="overlay overlay-image">
                    <div class="overlay-info flex">
                        <p id="MarcaNome">Marca</p>
                        <p id="MarcaCategoria">Categoria e algo mais</p>
                        <a asp-controller="Portfolio" asp-action="Index">Ver Mais</a>
                    </div><!--overlay-info-->
                </div><!--overlay-image-->
                <img src="~/img/portifolio/BOTAFOGO X NH 1.png" alt="Alternate Text" />
            </div><!--image-->
            <div class="image">
                <div class="overlay overlay-image">
                    <div class="overlay-info flex">
                        <p id="MarcaNome">Marca</p>
                        <p id="MarcaCategoria">Categoria e algo mais</p>
                        <a asp-controller="Portfolio" asp-action="Index">Ver Mais</a>
                    </div><!--overlay-info-->
                </div><!--overlay-image-->
                <img src="~/img/portifolio/dia do cliente2024.png" alt="Alternate Text" />
            </div><!--image-->
        </div><!--mosaico-->

        <div class="link-wrapper flex">
            <a class="link" asp-controller="Portfolio" asp-action="Index">Faça um orçamento</a>
        </div><!--link-wrapper-->

    </div><!--container-->
</section><!--HOME-portifolio-->

<section class="HOME-depoimentos">
    <div class="container">
        <div class="depoimentos-wrapper">
            <img class="aspas aspas-abre" src="~/img/Outros/aspas abre.png" />
            <div class="depoimento-slide active">
                <div class="profile-info">
                    <img />
                    <span>- Ana Carvalho</span>
                </div><!--profile-->
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut nunc diam. Vestibulum ante ipsum primis in faucibus orci luctus et"</p>
            </div>
            <div class="depoimento-slide">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut nunc diam. Vestibulum ante ipsum primis in faucibus orci luctus et"</p>
            </div>
            <div class="depoimento-slide">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut nunc diam. Vestibulum ante ipsum primis in faucibus orci luctus et"</p>
            </div>
            <img class="aspas aspas-fecha" src="~/img/Outros/aspas fecha.png"/>
        </div><!--depoimentos-wrapper-->
        <div class="dots-wrapper flex">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div> 
        </div><!--dots-wrapper-->
    </div><!--container-->
</section><!--HOME-depoimentos-->