@{
    ViewData["Title"] = "Início";
}

<!--NENHUMA IMAGEM SERA OFICIAL AINDA-->

<head>
    <link href="~/css/home.css" rel="stylesheet" />
</head>

<section class="first-sec">
    <div class="container">
        <!--procurar imagem para lado direito e depois colocar o texto do lado diteiro-->
        <div class="texto-header">
            <h1>Agência Quadreli</h1>
            <h3>Design estratégico que comunica e conecta</h3>
            <h5>Da identidade visual ao digital, unimos criatividade e estratégia para gerar resultados.</h5>
        </div><!--texto-header-->
        <div class="imagem-header">
            <div class="overlay"></div>
        </div><!--imagem-header-->
    </div><!--container-->
</section><!--first-sec-->

<section class="HOME-about">
    <div class="container">
        <div class="envolto flex">
            <h4>Da Identidade Visual ao Digital, unimos criativida de eestratégia para gerar resultados</h4>
            <div class="texto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non odio fringilla, interdum mauris vitae, consectetur nibh. Phasellus laoreet blandit sem. Aenean convallis quam vitae eleifend venenatis. Phasellus aliquet posuere dui, et mollis sapien tempor vitae. Quisque elementum blandit nisl, congue varius metus sollicitudin nec. Nunc sit amet lacus ut magna fringilla scelerisque. Etiam pretium augue a scelerisque ullamcorper. Nullam pulvinar sit amet turpis id rutrum. Etiam nisl tellus, pellentesque ac commodo mollis, sodales semper libero. Suspendisse eu magna arcu. Integer efficitur lorem a massa feugiat, in elementum turpis vulputate. In hac habitasse platea dictumst.
                </p>

                <a class="link" asp-controller="About" asp-action="Index">Saiba mais...</a>
            </div><!--texto-->

            <div class="imagem">
                <div class="img"></div><!--substituir por img depois-->
            </div><!--imagem-->
                
        </div><!--flex-->
    </div><!--container-->
</section><!--HOME-bem-vindo-->

<section class="HOME-servicos">
    <div class="container">
        <h1 class="titulo">Nossos Serviços</h1>
        <div class="servicos-wrapper flex">
            <div>
                <p>Posicione sua marca nos canais onde as pessoas buscam informação diariamente.</p>
                <p>Investir em Marketing Digital ajuda você a promover seus produtos ou serviços em várias plataformas no ambiente digital, incluindo uso de canais como Redes Sociais</p>
                <p>
                    Seu diferencial é a capacidade de mensurar resultados em tempo real. Isso ajuda a economizar e personalizar suas ações
                </p>
            </div>
            
            <div id="qua1" class="quadro-servico"></div><!--quadro-servicos-->
            <div id="qua2" class="quadro-servico"></div><!--quadro-servicos-->
            <div id="qua3" class="quadro-servico"></div><!--quadro-servicos-->
        </div><!--servicos-wrapper-->
        <div class="icons-wrapper flex">
            <div id="icon1" class="icon"></div>
            <div id="icon2" class="icon"></div>
            <div id="icon3" class="icon"></div>
        </div><!--icons-wrapper-->
    </div><!--container-->
</section><!--HOME-servicos-->

<section class="HOME-portfolio">
    <div class="container">
        <h1 class="titulo">Nossos Projetos</h1>
        <div class="mosaico grid">
            <div class="image">
                <img src="~/img/portifolio/TB Campanha maes.png" />
            </div><!--image-->
            <div class="image">
                <img src="~/img/portifolio/BOTAFOGO X NH 1.png" alt="Alternate Text" />
            </div><!--image-->
            <div class="image">
                <img src="~/img/portifolio/dia do cliente2024.png" alt="Alternate Text" />
            </div><!--image-->
            <div class="image">
                <img src="~/img/portifolio/TB Campanha maes.png" />
            </div><!--image-->
            <div class="image">
                <img src="~/img/portifolio/BOTAFOGO X NH 1.png" alt="Alternate Text" />
            </div><!--image-->
            <div class="image">
                <img src="~/img/portifolio/dia do cliente2024.png" alt="Alternate Text" />
            </div><!--image-->
        </div><!--mosaico-->

        <div class="link-wrapper flex">
            <a class="link" asp-controller="Portfolio" asp-action="Index">Portifolio Completo</a>
        </div><!--link-wrapper->

    </div><!--container-->
</section><!--HOME-portifolio-->

<section class="HOME-depoimentos">
    <div class="container">
        <h1 class="titulo">Depoimentos</h1>
        <div class="depoimentos-wrapper">
            <div class="depoimento-slide active">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut nunc diam. Vestibulum ante ipsum primis in faucibus orci luctus et"</p>
                <span><img />- Ana</span>
            </div>
            <div class="depoimento-slide">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut nunc diam. Vestibulum ante ipsum primis in faucibus orci luctus et"</p>
                <span><img />- João</span>
            </div>
            <div class="depoimento-slide">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut nunc diam. Vestibulum ante ipsum primis in faucibus orci luctus et"</p>
                <span>- Carla</span>
            </div>
        </div><!--depoimentos-wrapper-->
        <div class="dots-wrapper flex">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div> 
        </div><!--dots-wrapper-->
    </div><!--container-->
</section><!--HOME-depoimentos-->