@{
    ViewData["Title"] = "Início";
}

<!--NENHUMA IMAGEM SERA OFICIAL AINDA-->

<section class="first-sec">
    <div class="container">
        <!--procurar imagem para lado direito e depois colocar o texto do lado diteiro-->
        <div class="texto-header">
            <h1>Agência Quadreli</h1>
            <h3>Design estratégico que comunica e conecta</h3>
            <h5>Da identidade visual ao digital, unimos criatividade e estratégia para gerar resultados.</h5>
        </div><!--texto-header-->
        <div class="imagem-header">
            <div class="overlay"></div>
        </div><!--imagem-header-->
    </div><!--container-->
</section><!--first-sec-->

<section class="HOME-about">
    <div class="container">
            <div class="envolto flex">
                <div class="imagem">
                    <div class="img"></div><!--substituir por img depois-->
                </div><!--imagem-->
        
                <div class="texto">
                    <div class="titulo-wrapper">
                        <h1>Agência Quadreli</h1>
                    </div><!--titulo-->
                    <p>
                        At ut et dolor et blandit elit sanctus clita duis tempor vulputate gubergren nisl stet magna duo sit in dolor invidunt amet feugiat lorem illum elitr labore nam wisi vero dignissim amet lorem ea sed placerat sed velit tempor et sea dolore kasd aliquip quis dolore sanctus nonumy eu lorem ipsum ea sed velit stet amet euismod duo esse sea labore eos voluptua tempor voluptua sed est facilisi exerci diam laoreet clita voluptua ullamcorper kasd sanctus vel diam voluptua eos invidunt id sed lorem diam suscipit lorem delenit lorem ea dolores nostrud justo sed duis labore vero at accumsan erat
                    </p>
                    
                    <a asp-controller="About" asp-action="Index">Saiba mais...</a>
                </div><!--texto-->
            </div><!--flex-->
    </div><!--container-->
</section><!--HOME-bem-vindo-->

<section class="HOME-servicos">
    <div class="container">
        <h2 class="titulo">Serviços</h2>
        <div class="servicos-wrapper flex">
            <div class="quadro-servico">
                <div class="icon"></div>
                <h4>Criação de Conteúdo</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut nunc diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque auctor suscipit sapien, quis ornare massa suscipit ac.</p>
            </div><!--quadro-servico-->
            <div class="quadro-servico">
                <div class="icon"></div>
                <h4>Arte Digital</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut nunc diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque auctor suscipit sapien, quis ornare massa suscipit ac.</p>
            </div><!--quadro-servico-->
            <div class="quadro-servico">
                <div class="icon"></div>
                <h4>Assessoria de Imprensa</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut nunc diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque auctor suscipit sapien, quis ornare massa suscipit ac.</p>
            </div><!--quadro-servico-->
            <div class="quadro-servico">
                <div class="icon"></div>
                <h4>Tráfego Pago</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut nunc diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque auctor suscipit sapien, quis ornare massa suscipit ac.</p>
            </div><!--quadro-servico-->
        </div><!--servicos-wrapper-->
    </div><!--container-->
</section><!--HOME-servicos-->

<section class="HOME-portfolio">
    <div class="container">
        <h1 class="titulo">Portifólio</h1>
        <div class="mosaico">
            <div class="image">
                
            </div><!--image-->
            <div class="image">

            </div><!--image-->
            <div class="image">

            </div><!--image-->
        </div><!--mosaico-->
    </div><!--container-->
</section><!--HOME-portifolio-->

<section class="HOME-depoimentos">

</section><!--HOME-depoimentos-->